body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
}

h1,h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1{
    color:#fff;
    text-align: center;
    background-color: #851944;
}
blockquote{
    background-color: #D9E5E3;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;    
    font-family: "Open Sans Condensed", sans-serif;
}
p{
    text-align: justify;
}
nav a{
    color: inherit;
}
footer{
    background-color: #000;
    color: #F2FFFC;    
}