body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    margin: 0;
    line-height: 2;
}

.main-title{
    color:#fff;
    text-align: center;
    background-color: #851944;
    padding: 25px;
    border-bottom: 10px solid #000;
    font-size: 60px;
}

.wrapper{
    width: 720px;
    padding: 30px 0;
    margin: 0 auto;
}

h1,h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
}

p{
    text-align: justify;
    margin: 20px 0;
}

strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

.clients-comments{
    background-color: #D9E5E3;
    padding: 20px;
    margin: 20px 40px;
    border: 10px solid #c2ccca;
    width: 250px;
    box-sizing: border-box;
}
article{
    padding: 30px 0;
    border-bottom: 1px solid #c2ccca;
}

.read-more{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #c2ccca;
}
.navegacao-site{
    background-color: #3C1D3D;
    color: #F2FFFC;    
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px;
    text-align: center;
}
.menu h1{
    margin-bottom: 25px;
}
.menu a{
    color: inherit;
    text-decoration: none;
}
.redes-sociais li{
    display: inline-block;
}
.page-footer{
    background-color: #000;
    color: #F2FFFC;    
    padding: 20px;
}