.citacao-bio {
  width: 30ch;
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: #D9E5E3;
  border: .5rem solid #C2CCCA;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.citacao-bio:hover {
  box-shadow: 0 0 0 9999px rgba(0,0,0,.7);
}

.citacao-bio:nth-of-type(odd) {
  margin-right: 0;
  float: right;
}

.citacao-bio:nth-of-type(odd):hover {
  transform: scale(1.2) rotate(5deg)
}

.citacao-bio:nth-of-type(even) {
  margin-left: 0;
  float: left;
}
.citacao-bio:nth-of-type(even):hover {
  transform: scale(1.2) rotate(-5deg)
}
