.citacao-bio {
  width: 30ch;
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: #D9E5E3;
  border: .5rem solid #C2CCCA;
  box-sizing: border-box;
}

blockquote:nth-of-type(odd) {
  margin-right: 0;
  float: right;
}

blockquote:nth-of-type(even) {
  margin-left: 0;
  float: left;
}
