.leia-mais {
  display: block;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.5em;
  text-align: center;
  background-color: #E6E7E8;
}

.post-blog {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: .063rem solid #ccc;
}
