.leia-mais {
  display: block;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.5em;
  text-align: center;
  background-color: #E6E7E8;
}

.post-blog ~ .post-blog{
  margin-top: 1rem;
  padding-top: 1.5rem;
  /* border-bottom: .063rem solid #ccc; */
  background-image: linear-gradient(to right, #eee, #aaa, #eee);
  background-size: 90% .063rem;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
