
fieldset {
  padding: 5px 0;
}

legend,
label[for="msg"] {
  margin-top: 10px;
  font-weight: bold;
}

label {
  display: block;
}

[name="assunto"],
[for=outro-assunto],
[name=outro-assunto] {
  display: inline-block;
}

#name,
#email,
textarea {
  width: 100%;
}

input {
  padding: 5px;
  font-family: inherit;
  border: 1px solid #ccc;
}

input:focus {
  background-color: #f5e597;
  outline: none;
}

input:invalid {
  box-shadow: 0 0 3px #ff0000;
}

button {
  float: right;
  background-color: #3C1D3D;
}

button:hover,
button:focus {
  background-color: #864a88;
}

[type="reset"] {
  background-color: #851944;
}


[type="reset"]:hover,
[type="reset"]:focus {
  background-color: #c74277;
}

button,
[type="reset"] {
  padding: 5px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 1.1em;
  color: #ffffff;
  text-shadow: 1px 1px #000;
  border: none;
  transition: background-color .3s ease-in-out;
}
