
fieldset {
  padding: 5px 0;
}

legend,
label[for="msg"] {
  margin-top: 10px;
  font-weight: bold;
}

label {
  display: block;
}

[name="assunto"],
[for=outro-assunto],
[name=outro-assunto] {
  display: inline-block;
}

[for=outro-assunto] {
  margin-left: 1.9em;
}

[name=outro-assunto] {
  min-width: 40ch;
}

[for=outro-assunto],
[name=outro-assunto] {
  transition: opacity .3s ease-in-out;
}

select {
  padding: 5px;
  font-family: inherit;
  background: none;
}

.com-icone {
  position: relative;
}

.com-icone + input {
  position: relative;
  left: 2rem;
  width: calc(100% - 2rem);
}

.com-icone:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: #8c1d3d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.com-icone[for="name"]:after {
  background-image: url(../imagens/usuario.png);
}

.com-icone[for="email"]:after {
  background-image: url(../imagens/email.png);
}

textarea {
  width: 100%;
}

input,
textarea {
  padding: .4em;
  font-family: inherit;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:focus {
  background-color: #ffd;
  outline: none;
}

input:invalid {
  box-shadow: 0 0 3px #ff0000;
}

button {
  float: right;
  background-color: #3C1D3D;
}

button:hover,
button:focus {
  background-color: #8C1D3D;
}

[type="reset"] {
  background-color: #8C1D3D;
}

[type="reset"]:hover,
[type="reset"]:focus {
  background-color: #c74277;
}

button,
[type="reset"] {
  padding: .5em;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 1.1em;
  color: #ffffff;
  text-shadow: 1px 1px #000;
  border: none;
  transition: background-color .3s ease-in-out;
}

button:hover,
button:focus,
[type="reset"]:hover,
[type="reset"]:focus {
  box-shadow: 0 0 3px #c74277;
}

