.titulo-principal {
  position: relative;
  overflow: hidden;
}

.foto-home {
  height: 200px;
  border-radius: 50%;
}

.subtitulo-principal {
  font-size: 1rem;
}

.palavra-home {
  position: absolute;
  font-family: 'Shadows Into Light',cursive;
  color: #D5447E;
  font-size: .3em;
  font-weight: bold;
}

.eficiencia {
  top: 20%;
  right: 20%;
  transform: rotate(-10deg)
}
.boas-praticas {
  bottom: 20%;
  left: 20%;
  transform: rotate(10deg)
}
.codigo-limpo {
  top: 40%;
  left: 10%;
  transform: rotate(-15deg)
}
.css3 {
  top: 50%;
  left: 30%;
  transform: rotate(5deg)
}
.html5 {
  top: 40%;
  right: 18%;
  transform: rotate(7deg)
}
.javascript {
  top: 10%;
  right: 35%;
  transform: rotate(-7deg)
}
.acessibilidade {
  top: 30%;
  left: 28%;
  transform: rotate(-10deg)
}
.responsivo {
  top: 15%;
  left: 13%;
  transform: rotate(10deg)
}
.otimizacoes {
  bottom: 30%;
  right: 24%;
  transform: rotate(-10deg)
}
.agilidade {
  top: 10%;
  left: 35%;
  transform: rotate(10deg)
}
.design {
  top: 35%;
  right: 30%;
  transform: rotate(10deg)
}

.banner-twitter {
  position: absolute;
  top: 0;
  right: 0;
  width: 14em;
  padding: 1em 0;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background: #3C1D3D;
  border: .25rem solid #000000;
  box-sizing: border-box;
  transform: translate(6.5765em,-2.4745em) rotate(45deg);
  transform-origin: 0 0;
}

.saudacao p {
  padding: 2em;
  font-size: 1.5em;
  color: #99A;
  line-height: 1;
}
.saudacao-inicio {
  font-size: 3em;
  color: #889;
}
.saudacao-ultima-linha {
  display: block;
  text-align: right;
}
.saudacao strong {
  font-size: 2em;
  color: #000;
}
.saudacao em {
  display: inline-block;
  font-size: 4em;
  color: #851944;
  transform:  rotate(-5deg) skew(-10deg);
}
.botao-index {
  display: block;
  width: 40ch;
  margin: 3em auto;
  padding: .5em;
  font-size: 1.25em;
  color: #FFF;
  text-align: center;
  background-color: #851944;
  border: .2em solid black;
}

.secao-inicio {
  padding: 2em;
}

.secao-inicio h2 {
  margin-bottom: .5em;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.trabalhos {
  background-color: #3C1D3D;
  border-top: .5em solid #000;
  border-bottom: .5em solid #000;
}
.trabalhos h2 {
  color: #FFF;
}
.trabalhos ul {
  border: .5em solid black;
  overflow: hidden;
}
.trabalhos li {
  float: left;
  width: 33.333%;
}
.trabalhos img {
  width: 100%;
  display: block;
}
.blog {
  position: relative;
  color: #FFF;
  background-color: #999;
  border-bottom: .5em solid #851944;
}

.blog small {
  position: relative;
  top: -2em;
}

.blog .mais-recente {
  width: 30%;
  background: #ffffff;
}

.blog li a {
  padding: .5em;
  color: #FCF;
  line-height: 2.6rem;
}

.blog .mais-recente a {
  color: #ff0000;
}

.blog .inicio-post {
  display: none;
  position: absolute;
  top: 5em;
  right: 3em;
  width: 100ch;
  height: 8em;
  padding: 1em;
  color: #000000;
  background: #ffffff;
}

.blog .inicio-post.mais-recente {
  display: block;
}

footer {
  padding: 2em;
  background-color: #000;
  color: #FFF;
}

footer h2 {
  font-size: 2em;
}

footer p {
  font-size: .75rem;
}

footer a {
  color: #F99;
}
main {
  width: 100%;
  padding-bottom: 0;
  float: none;
}
