html,body {
  height: 100%;
  overflow-x: hidden;
}

body {
  perspective: 6px;
  perspective-origin: 50% 160px;
}

.titulo-principal {
  position: relative;
}

.titulo-principal, .palavras-home {
  transform-style: preserve-3d;
}

.foto-home {
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 1em #000;
}

.subtitulo-principal {
  font-size: 1rem;
}

.palavras-home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1rem;
}

.palavras-home li {
  font-size: 400%;
}

.palavra-home {
  position: absolute;
  font-family: 'Shadows Into Light',cursive;
  color: rgba(255,127,127,.5);
  font-size: .3em;
  font-weight: bold;
}

.eficiencia {
  top: 30%;
  left: 65%;
  transform: translate(-50%,-50%) rotate(-10deg) translateZ(1px) scale(0.25);
  opacity: .5;
}
.boas-praticas {
  top: 80%;
  left: 30%;
  transform: translate(-50%,-50%) translate(-50%,-50%) rotate(10deg) translateZ(1px) scale(0.25);
  opacity: .5;
}
.codigo-limpo {
  top: 40%;
  left: 25%;
  transform: translate(-50%,-50%) rotate(-15deg) translateZ(2px) scale(0.25);
  opacity: .8;
}
.css3 {
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%) rotate(5deg) translateZ(2px) scale(0.25);
  opacity: .8;
}
.html5 {
  top: 50%;
  left: 65%;
  transform: translate(-50%,-50%) rotate(7deg) translateZ(3px) scale(0.25);
}
.javascript {
  top: 35%;
  left: 65%;
  transform: translate(-50%,-50%) rotate(-7deg) translateZ(3px) scale(0.25);
}
.acessibilidade {
  top: 30%;
  left: 28%;
  transform: translate(-50%,-50%) rotate(-10deg) translateZ(3px) scale(0.25);
}
.responsivo {
  top: 20%;
  left: 23%;
  transform: translate(-50%,-50%) rotate(10deg) translateZ(1px) scale(0.25);
  opacity: .5;
}
.otimizacoes {
  top: 70%;
  left: 76%;
  transform: translate(-50%,-50%) rotate(-10deg) translateZ(2px) scale(0.25);
  opacity: .8;
}
.agilidade {
  top: 20%;
  left: 35%;
  transform: translate(-50%,-50%) rotate(10deg) translateZ(1px) scale(0.25);
}
.design {
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%) rotate(10deg) translateZ(4px) scale(0.25);
}

.banner-twitter {
  position: absolute;
  top: 0;
  right: 0;
  width: 14em;
  padding: 1em 0;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background: #3C1D3D;
  border: .25rem solid #000000;
  box-sizing: border-box;
  transform: translate(6.5765em,-2.4745em) rotate(45deg);
  transform-origin: 0 0;
}

.saudacao p {
  padding: 2em;
  font-size: 1.5em;
  color: #99A;
  line-height: 1;
}
.saudacao-inicio {
  font-size: 3em;
  color: #889;
}
.saudacao-ultima-linha {
  display: block;
  text-align: right;
}
.saudacao strong {
  font-size: 2em;
  color: #000;
}
.saudacao em {
  display: inline-block;
  font-size: 4em;
  color: #851944;
  transform:  rotate(-5deg) skew(-10deg);
}
.botao-index {
  display: block;
  width: 40ch;
  margin: 3em auto;
  padding: .5em;
  font-size: 1.25em;
  color: #FFF;
  text-align: center;
  background-color: #851944;
  border: .2em solid 000000;
  box-shadow: 0 0 .5em #000000, inset 0 0 .5em #ffffff;
}

.secao-inicio {
  padding: 2em;
}

.secao-inicio h2 {
  margin-bottom: .5em;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.trabalhos {
  background-color: #3C1D3D;
  border-top: .5em solid #000;
  border-bottom: .5em solid #000;
}
.trabalhos h2 {
  color: #FFF;
  text-shadow: 5px 5px #000;
}
.trabalhos ul {
  border: .5em solid black;
  overflow: hidden;
}
.trabalhos li {
  float: left;
  width: 33.333%;
}
.trabalhos img {
  width: 100%;
  display: block;
}
.blog {
  position: relative;
  color: #FFF;
  background-color: #999;
  border-bottom: .5em solid #851944;
}

.blog small {
  position: relative;
  top: -2em;
}

.blog .mais-recente {
  width: 30%;
  background: #ffffff;
}

.blog li a {
  padding: .5em;
  color: #FCF;
  line-height: 2.6rem;
}

.blog .mais-recente a {
  color: #ff0000;
}

.blog .inicio-post {
  display: none;
  position: absolute;
  top: 5em;
  right: 3em;
  width: 100ch;
  height: 8em;
  padding: 1em;
  color: #000000;
  background: #ffffff;
}

.blog .inicio-post.mais-recente {
  display: block;
}

footer {
  padding: 2em;
  background-color: #000;
  color: #FFF;
}

footer h2 {
  font-size: 2em;
}

footer p {
  font-size: .75rem;
}

footer a {
  color: #F99;
}
main {
  width: 100%;
  padding-bottom: 0;
  float: none;
}
