.foto-home {
  height: 12.5rem;
}

.subtitulo-principal {
  font-size: 1rem;
}

.saudacao p {
  padding: 4.5rem 3rem;
  color: #99A;
  line-height: 1;
}
.saudacao-inicio {
  font-size: 3rem;
  color: #889;
}
.saudacao-ultima-linha {
  display: block;
  text-align: right;
}
.saudacao strong {
  font-size: 2rem;
  color: #000;
}
.saudacao em {
  font-size: 4rem;
  color: #851944;
}
.botao-index {
  display: block;
  width: 25rem;
  margin: 0 auto 1.4rem auto;
  padding: .75rem;
  color: #FFF;
  text-align: center;
  background-color: #851944;
  border: .2em solid black;
}
.secao-inicio h2 {
  text-transform: uppercase;
}
.trabalhos {
  margin-top: 1.5rem;
  padding: 1.9rem 1.25rem;
  background-color: #3C1D3D;
  border-top: .625rem solid #000;
  border-bottom: .625rem solid #000;
}
.trabalhos h2 {
  font-size: 2rem;
  color: #FFF;
}
.trabalhos ul {
  margin: 1.56rem 0;
  overflow: hidden;
  border: .625rem solid black;
}
.trabalhos li {
  float: left;
  width: 33.333%;
}
.trabalhos img {
  width: 100%;
  display: block;
}
.blog {
  padding: 1.56rem 1.25rem;
  color: #FFF;
  background-color: #999;
  border-bottom: .625rem solid #851944;
}

.blog h2 {
  font-size: 2rem;
}

.blog small {
  font-size: .75rem;
}

.blog ol {
  margin-top: 1.25rem;
  margin-bottom: 1.9rem;
}

.blog li a {
  color: #FCF;
  line-height: 2.6rem;
}
footer {
  padding: 1.9rem 1.25rem;
  background-color: #000;
  color: #FFF;
}

footer h2 {
  font-size: 2rem;
}

footer p {
  font-size: .75rem;
}

footer a {
  color: #F99;
}
main {
  width: 100%;
  padding-bottom: 0;
  float: none;
}
