.portfolio li {
  display: inline-block;
  width: 45%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FAFFFC;
  border: .5rem solid black;
  box-sizing: border-box;
}

.portfolio img {
  width: 100%;
  box-shadow: 0 0 .5em #000;
}
