.portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio li {
  flex: 1 1 48%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FAFFFC;
  border: .5rem solid black;
  box-sizing: border-box;
}

.portfolio li:nth-child(even) {
  margin-right: 1rem;
}

.portfolio li:first-child {
  flex-basis: 100%;
}

.portfolio img {
  width: 100%;
  box-shadow: 0 0 .5em #000;
}
